<h3>Nova categoria:</h3>
<form method="POST" action="/admin/categorias/nova">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" placeholder="digite o nome" class="form-control">
    <label for="slug">Slug:</label>
    <input type="text" id="slug" name="slug" placeholder="digite o slug" class="form-control">
    <br>
    <input type="submit" id="enviar" name="enviar" value="Salvar" class="btn btn-success btn-lg btn-block">
</form>