<a class="text-decoration-none" href="/admin/postagens"><button class="btn btn-success">Postagens</button></a>
<a class="text-decoration-none" href="/admin/categorias"><button class="btn btn-success">Categorias</button></a>
