<footer class="page-footer font-small bg-primary text-white mt-2">

  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://matheuslp.com/" class="text-dark text-decoration-none"> Matheus Lima</a>
  </div>

</footer>