{{#if success_msg}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Sucesso!</strong> {{success_msg}}
    </div>
{{/if}}

{{#if error_msg}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Erro!</strong> {{error_msg}}
    </div>
{{/if}}

{{#if error}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Erro!</strong> {{error}}
    </div>
{{/if}}

